<ion-header>
  <ion-toolbar>
    <ion-title>District</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item
    [ngStyle]="{'justify-content': center}"
    (click)="save(co)"
    *ngFor="let co of color"
  >
    <span *ngFor="let c of co">
      <span
        [ngStyle]="{'background-color': c, 'color': c, 'border': 'solid 1px white'}"
        >color</span
      >
    </span>
  </ion-item>
</ion-content>
