<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="cancel()">
        <ion-icon
          color="dark"
          slot="icon-only"
          name="close-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pick Date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select
    interface="popover"
    placeholder="{{selectedYear}}"
    (ionChange)="newYear($event)"
    mode="ios"
  >
    <ion-select-option *ngFor="let year of toggleYear" [value]="year"
      >{{year}}</ion-select-option
    >
  </ion-select>
  <ion-grid>
    <ion-row>
      <ion-col class="months" *ngFor="let month of months" size="4">
        <div>
          <button class="months-button" (click)="save(month)">{{month}}</button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-buttons>
    <ion-button mode="md" color="dark" (click)="cancel()">Cancel</ion-button>
  </ion-buttons>
</ion-content>
