<ion-header>
  <ion-toolbar>
    <ion-title>Donate</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="cancel()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
  <div *ngIf=purchased style="text-align: center; font-size: 30px;">Thank You!</div>
  <ion-spinner name="crescent" *ngIf="(isLoading && !purchased)"></ion-spinner>
  <ion-list *ngIf="(!isLoading && !purchased)">
    <ion-radio-group (ionSelect)="productSelect($event)">
      <ion-list-header>
        
        <!-- <ion-label class="text-label">Temporarily Disabled</ion-label> -->
      </ion-list-header>
      <!-- <ion-row class="ion-justify-content-center" *ngFor="let product of products">
        <ion-button (click)="buy(product.productId)" class="product" color="dark">{{product.price}}</ion-button>
      </ion-row> -->
        <!-- <ion-button class="product">{{products2}}</ion-button> -->
        <!-- <ion-row class="ion-justify-content-center"><ion-button color="dark">$0.99</ion-button></ion-row>
        <ion-row class="ion-justify-content-center"><ion-button color="dark">$1.99</ion-button></ion-row>
        <ion-row class="ion-justify-content-center"><ion-button color="dark">$4.99</ion-button></ion-row>
        <ion-row class="ion-justify-content-center"><ion-button color="dark">$9.99</ion-button></ion-row> -->
        <ion-item *ngFor="let product of products; let i = index">
          <ion-label>{{product.price}}</ion-label>
          <ion-radio color="dark" slot="start" mode="md" [value]="product.productId" [checked]="i==0"></ion-radio>
        </ion-item>
      <ion-row class="ion-justify-content-center">
        <ion-button *ngIf=!purchased (click)="buy(valueDetail)">Donate</ion-button>
        <ion-button *ngIf=!purchased (click)="cancel()">Cancel</ion-button>
        
      </ion-row>
    </ion-radio-group>
  </ion-list>
  <ion-row class="ion-justify-content-center">
    <ion-button *ngIf=purchased (click)="cancel()" class="ion-justify-content-center">Close</ion-button>
  </ion-row>
  </div>
 
  
</ion-content>