.text-label {
    color: red;
    text-align: right;
}
.product {
    text-align: center;
}
ion-spinner {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}
.wrapper {
    height: 283px;
    display: grid;
    align-items: center;
}