.edit-button {
  position: absolute;
  height: 3vh;
  width: 90px;
  right: 6%;
}
.event-title {
  background-image: linear-gradient(to bottom right, #9bc3ca, #215fbf);
  text-align: center;
  color: white;
}
.holiday-title {
  background-image: linear-gradient(to bottom right, #9bc3ca, #ff0000);
  text-align: center;
  color: white;
}
.payday-title {
  background-image: linear-gradient(to bottom right, #9bc3ca, #000000);
  text-align: center;
  color: white;
}
.info {
  color: #000000;
}
@media (min-height: 810px) and (max-width: 500px) {
  ion-header {
    // margin-top: -30px;
  }
}
