<ion-header *ngIf="!formView">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button icon-only (click)="cancel()">
        <ion-icon
          color="dark"
          slot="icon-only"
          name="close-circle-outline"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{preSelectedDate | formatToStyle2 }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="dayInfo" *ngIf="!formView">
    <!-- <ion-item>Today: {{ preSelectedDate | formatToStyle2 }} </ion-item> -->
    <!-- <ion-item *ngIf="eventSelect">
      <ion-button *ngIf="isThereAnEvent()" color="dark"
        (click)="editEvent(dayEvent.title, dayEvent.startTime, dayEvent.endTime)">Edit Event</ion-button>
    </ion-item>
    <ion-item>Select Event
      <ion-select (ionChange)="selectChange()" [(ngModel)]="selectEvent" interface="action-sheet">Select Event
        <ion-button></ion-button>
        <ion-select-option *ngFor="let day of dayEvent" [value]="day"><br />{{ day.title }}<br />{{ day.startTime |
          formatToStyle}}
          <br />{{ day.endTime | formatToStyle }}
        </ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-label><h1 class="event-title">Events</h1></ion-label>
    <ion-item *ngIf="!isThereAnEvent()">
      <ion-label class="info"><p class="info">No events today</p></ion-label>
      <p>
        <ion-button color="dark" (click)="addEvent()">Add Event</ion-button>
      </p>
    </ion-item>
    <ion-item *ngFor="let event of dayEvent">
      <!-- <br /> -->
      <!-- Event title:{{ event.title }}<br />
    Start: {{ event.startTime | formatToStyle2 }}<br />
    End: {{ event.endTime | formatToStyle2 }} -->
      <ion-label>
        <h2>{{event.title}}</h2>
        <ion-button class="edit-button" color="dark" (click)="editEvent(event)"
          >Edit Event</ion-button
        >
        <p class="info">
          {{event.startTime | formatToStyle2}} {{event.startTime |
          formatToStyle3}} -
        </p>
        <p class="info">
          {{event.endTime | formatToStyle2}} {{event.endTime | formatToStyle3}}
        </p>
      </ion-label>
    </ion-item>
    <div *ngIf="checkHoliday">
      <ion-label><h1 class="holiday-title">Holidays</h1></ion-label>
      <div *ngFor="let holiday of data.currentHoliday">
        <ion-item *ngIf="isThereAnHoliday(holiday)">
          <ion-label><p class="info">{{holiday.name}}</p></ion-label>
        </ion-item>
      </div>
    </div>
    <div *ngIf="checkPayday">
      <ion-label><h1 class="payday-title">Paydays</h1></ion-label>
      <div *ngFor="let payday of data.payday.currentPayday">
        <ion-item *ngIf="isThereAnPayday(payday)">
          <ion-label><p class="info">{{payday}}</p></ion-label>
        </ion-item>
      </div>
    </div>
  </ion-list>
  <ion-header *ngIf="formView">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button icon-only (click)="cancel()">
          <ion-icon
            color="dark"
            slot="icon-only"
            name="close-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Event Details</ion-title>
      <ion-buttons slot="end" *ngIf="isThereAnEvent()">
        <ion-button icon-only (click)="deleteEvent()">
          <ion-icon color="danger" name="trash-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <app-form *ngIf="formView"></app-form>
</ion-content>
