@font-face {
  font-family: "Secular One";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/SecularOne-Regular.ttf");
}

[col-1] {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 14.285714285714286%;
  width: 14.285714285714286%;
  max-width: 14.285714285714286%;
  // border: solid 1px var(--ion-color-medium-shade);
}

// .label {
//   color: var(--ion-background-color);
// }

// .nav-title-text {
//   color: var(--ion-background-color);
// }
.col {
  text-align: center;
  padding: 7px;
}
.last-month,
.next-month {
  // color: var(--ion-color-light-shade);
  font-size: 90%;
  height: 40px;
  // border: none;
}
.next-m {
  top: 24%;
  position: absolute;
  width: 55px;
}
.nextLast {
  border: none;
}
.currentDate,
.otherDate {
  width: 35px;
  position: absolute;
  top: 3%;
}
.calendar-header {
  // margin-top: 15ex;
  padding: 10px;
  // background-color: #58A4B0;
  color: white;
  // text-shadow: var(--ion-text-shadow);
  background-image: linear-gradient(to bottom right, #9bc3ca, #215fbf);
  text-align: center;
}
.event-bullet {
  margin: 0px auto;
  height: 5px;
  width: 5px;
  background-color: #1aa8cc;
  border-radius: 30px;
  position: absolute;
  right: 53%;
  top: 85%;
}
.event-bullet-payday {
  margin: 0px auto;
  height: 5px;
  width: 5px;
  // background-color: var(--ion-text-color);
  border-radius: 30px;
  position: absolute;
  right: 43%;
  top: 85%;
}
.event-bullet-holiday {
  margin: 0px auto;
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 30px;
  position: absolute;
  right: 33%;
  top: 85%;
}
.selected-date {
  width: 20px;
  height: 2px;
  background-color: blue;
}
.unselected-date {
  border: none;
}
.calendar-body {
  // background-color: #D8DBE2;
  // background-image: url(https://blog.fitshipper.com/wp-content/uploads/2017/10/usps.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: 50ex;
  .grid {
    padding: 0;
  }
  .col:last-child {
    border-right: none;
  }
  .calendar-weekday,
  .calendar-date {
    text-align: center;
    margin: 0;
  }
  .calendar-weekday {
    // font-weight: bold;
    border-bottom: solid 1px #575b7d;
    // text-shadow: var(--ion-text-shadow);
    // background-color: #A9BCD0;
  }
  .calendar-date {
    // border-top: solid 1px #01020c;
    border: solid 1px #01020c;
  }
  .day-month {
    // border-style: groove;
    display: flex;
    // outline: 1px solid black;
    // border-bottom: solid 1px black;
    // border-left: solid 1px black;
    // border-top: solid 1px black;
    font-size: 25px;
    // font-weight: bold;
    // text-shadow: -1px 0 #333436, 0 1px #333436, 1px 0 #333436, 0 -1px #333436;
    // text-shadow: var(--ion-text-shadow);
    height: 40px;
    justify-content: center;
    // font-family: "Anton";
    font-family: "Secular One";
    // background-color: blue;
  }
  .day-of {
    font-size: 25px;
    // font-weight: bold;
    // text-shadow: -1px 0 #333436, 0 1px #333436, 1px 0 #333436, 0 -1px #333436;
    // text-shadow: var(--ion-text-shadow);
  }
  .otherDate {
    font-size: 25px;
    // font-weight: bold;
    // text-shadow: -1px 0 #333436, 0 1px #333436, 1px 0 #333436, 0 -1px #333436;
    // text-shadow: var(--ion-text-shadow);
  }
}
.donate {
  border-color: #d8dbe2;
}
.segment-ios .segment-button {
  background-color: #1b1b1e;
}
.year-select,
.month-select {
  padding: 0px;
  text-align: left;
  padding-right: 3px;
}
.year-select {
  width: 55px;
}
.column-select {
  display: flex;
  flex-flow: row-reverse;
}
ion-item-options {
  margin-right: 40px;
}
.drop-down-menu {
  // border: 1px solid;
  padding: 9px;
}
.drop-down-menu:hover {
  cursor: pointer;
}
.drop-down-menu ion-icon {
  font-size: 15px;
}
.text-shadow-black {
  text-shadow: 0.5px 0.5px 0px#898989, -0.5px 0.5px 0px#898989,
    0.5px -0.5px 0px#898989, -0.5px -0.5px 0px#898989, 0px 0.5px 0px#898989,
    0px -0.5px 0px#898989, -0.5px 0px 0px#898989, 0.5px 0px 0px#898989,
    1px 1px 0px#898989, -1px 1px 0px#898989, 1px -1px 0px#898989,
    -1px -1px 0px#898989, 0px 1px 0px#898989, 0px -1px 0px#898989,
    -1px 0px 0px#898989, 1px 0px 0px#898989, 0.5px 1px 0px#898989,
    -0.5px 1px 0px#898989, 0.5px -1px 0px#898989, -0.5px -1px 0px#898989,
    1px 0.5px 0px#898989, -1px 0.5px 0px#898989, 1px -0.5px 0px#898989,
    -1px -0.5px 0px#898989 !important;
}
// #container {
//   overflow: scroll;
//   white-space: nowrap;
//   ::-webkit-scrollbar {
//     display: none;
//   }
// }
// .scroll-content {
//   overflow-y: hidden;
// }
// .scroll {
//   overflow: auto;
// }
