<ion-content class="no-scroll" id="container">
  <!--   <ion-fab vertical="top" horizontal="end"> -->
  <ion-header class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-1 class="nextLast" (click)="goToLastMonth()"
        ><ion-icon name="arrow-back"></ion-icon
      ></ion-col>
      <ion-col col-8 (click)="dropDownModal()"
        ><span class="drop-down-menu"
          >{{data.date.month}} {{data.date.year}}&nbsp;<ion-icon
            name="chevron-down-outline"
            slot="bottom"
          ></ion-icon></span
      ></ion-col>
      <ion-col col-1 class="nextLast" (click)="goToNextMonth()"
        ><ion-icon name="arrow-forward"></ion-icon
      ></ion-col>
    </ion-row>
  </ion-header>

  <div
    class="calendar-body"
    (swipeleft)="swipeLeft($event)"
    (swiperight)="swipeRight($event)"
  >
    <!-- <ion-card-content *ngFor= "let item of eventSource">
    <p *ngFor="let event of item.startTime">{{event}}</p>
  </ion-card-content> -->
    <ion-grid fixed="true" class="ion-no-padding">
      <ion-row class="calendar-weekday">
        <ion-col>Sun</ion-col>
        <ion-col>Mon</ion-col>
        <ion-col>Tue</ion-col>
        <ion-col>Wed</ion-col>
        <ion-col>Thu</ion-col>
        <ion-col>Fri</ion-col>
        <ion-col>Sat</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col
          col-1
          *ngFor="let lastDay of data.daysInLastMonth"
          class="last-month"
          (click)="goToLastMonth()"
          ><div class="next-m">{{lastDay}}</div></ion-col
        >
        <ion-col
          col-1
          *ngFor="let day of data.daysInThisMonth"
          class="day-month"
          (click)="selectDate(day)"
        >
          <ng-component
            *ngIf="data.currentDay.getDate() === day && data.currentDay.getMonth() === data.date.currentDay.getMonth() && 
            data.currentDay.getFullYear() === data.date.currentDay.getFullYear(); then todayDate; else otherDate"
          >
          </ng-component>
          <ng-template #todayDate>
            <div class="currentDateBorder" [ngStyle]="{'color': getStyleColor(day)}">
              <div class="currentDate" id="currentDate">
                <span color="calendar-day" class="day-of" id="{{day}}" [ngStyle] = "{'color': getStyleColor(day)}"
                  >{{day}}</span
                >
              </div>
            </div>
          </ng-template>
          <span class="event-bullet" *ngIf="checkEvent(day)"></span>
          <span class="event-bullet-payday" *ngIf="checkPayday(day)"></span>
          <span class="event-bullet-holiday" *ngIf="checkHoliday(day)"></span>
          <ng-template #otherDate>
            <div class="otherDate">
              <span color="calendar-day" class="day-of" id="{{day}}" [ngStyle]="{'color': getStyleColor(day)}"
                >{{day}}</span
              >
            </div>
            <br />
          </ng-template>
        </ion-col>
        <ion-col
          col-1
          *ngFor="let nextDay of data.daysInNextMonth"
          class="next-month"
          (click)="goToNextMonth()"
          ><div class="next-m">{{nextDay}}</div></ion-col
        >
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
