.enterButton {
  justify-content: center;
  align-items: center;
}
.rowAlign {
  height: 100%;
  // align-items: center;
  // align-content: center;
  text-align: center;
  // justify-content: center;
  font-weight: bold;
  position: absolute;
  z-index: 13;
  top: 50vh;
  width: 100%;
}
.paypal,
.district {
  justify-content: center;
}
ion-select {
  min-width: 59%;
}
// .title {
//   color: var(--ion-background-color);
//   text-shadow: var(--ion-text-shadow);
// }
.colorPalette {
  height: 5px;
  width: 5px;
}
#container {
  position: relative;
}
.welcomePage {
  background-image: linear-gradient(to bottom right, #9bc3ca, #215fbf);
  height: 100vh;
}
