<ion-header>
  <ion-toolbar>
    <ion-title class="title">RJ's Postal Calendar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="gotoHome()">
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-scroll" id="container">
  <ion-item class="toggleDark">
    <ion-label>Dark Mode</ion-label>
    <ion-toggle
      slot="end"
      id="themeToggle"
      mode="md"
      [(ngModel)]="darkMode"
      (click)="toggleDark()"
    >
    </ion-toggle>
  </ion-item>
  <div class="welcomePage">
    <!-- <ion-label><h1 class="app-title">RJ's Postal Calendar</h1></ion-label> -->
    <!-- <img src="../../assets/banner.png"> -->
    <!-- <ion-grid> -->
    <!-- <ion-row class="rowAlign"> -->
    <!-- This app was made by me to help figure out when I had a day off and wanted to share it with others.<br><br>  -->
    <!-- This was made in Salt Lake City, Utah. If The colors are off please send me an email with the contact button. -->

    <div class="rowAlign">
      <ion-button color="dark" (click)="gotoHome()" mode="md"
        >Go To<br />Calendar</ion-button
      >
    </div>
    <!-- </ion-row> -->

    <!-- </ion-grid> -->
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="paypal">
      <!-- <ion-button color="success" href="#" onclick="window.open('https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=5EYG7ARZFFPJJ&source=url', '_system', 'location=yes')">Donate
          </ion-button> -->
      <ion-button color="dark" mode="md" (click)="purchase()"
        >Donate</ion-button
      >
      <!-- <ion-button color="dark" (click)="contact()">Contact</ion-button> -->
      <ion-button
        mode="md"
        href="mailto:PostaCalendar@gmail.com?subject=Postal calendar&body=Let me know what you think."
        color="dark"
        >Contact</ion-button
      >
      <ion-button color="dark" mode="md" (click)="policy()"
        >Policy</ion-button
      > </ion-row
    ><br />
    <ion-row class="district" (click)="selectAlert()">
      <span *ngFor="let c of color">
        <span
          [ngStyle]="{'background-color': c, 'color': c, 'border': 'solid 1px black'}"
          >color</span
        >
      </span> </ion-row
    ><br />
    <ion-row class="district">
      <ion-item class="district" lines="none"
        ><ion-button mode="md" color="dark" (click)="selectAlert()">
          District <ion-icon mode="md" name="arrow-down"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-row>
  </ion-toolbar>
</ion-footer>
