<ion-grid class="segmentGrid">
  <ion-row class="segmentContainer">
    <ion-segment
      color="medium"
      (ionChange)="segmentChanged($event)"
      full="true"
      class="md"
      assertive
    >
      <ion-segment-button mode="ios" value="payday">
        <span class="paydayBullet"></span>Payday's
      </ion-segment-button>
      <ion-segment-button mode="ios" value="holiday">
        <span class="holidayBullet"></span>Holiday's
      </ion-segment-button>
      <ion-segment-button mode="ios" value="self-event">
        <span class="eventBullet"></span>My Events
      </ion-segment-button>
    </ion-segment>

    <!-- </ion-fab> -->

    <ion-col scrollY="true" class="to-scroll" [ngSwitch]="category">
      <ng-container>
        <ion-list *ngSwitchCase="'payday'">
          <ng-container *ngFor="let p of data.payday.currentPayday">
            <!--           <ng-container *ngIf=paydayThisMonth(p)> -->
            <ion-item lines="none">
              <ion-label>
                <h2 class="payday-title">{{ p }}</h2>
              </ion-label>
            </ion-item>
            <!--           </ng-container> -->
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-container>
        <ion-list *ngSwitchCase="'holiday'">
          <ng-container *ngFor="let l of data.currentHoliday">
            <ng-container>
              <ion-item lines="none">
                <ion-label>
                  <h2 class="holiday-title">{{ l.name }}</h2>
                  <p>{{ l.date | formatToStyle2 }}</p>
                </ion-label>
              </ion-item>
            </ng-container>
          </ng-container>
        </ion-list>
      </ng-container>
      <ng-container>
        <ion-list class="to-scroll" scrollY="true" *ngSwitchCase="'self-event'">
          <!-- <ion-item class="delete" sticky="true" lines="none">
            <span>
              <ion-icon name="arrow-back-circle-outline"></ion-icon> Slide to delete
            </span>
          </ion-item> -->

          <ion-item-sliding
            #slidingItem
            (ionDrag)="removeItem(event, slidingItem)"
            *ngFor="let event of this.data.event.currentEvent"
          >
            <ion-item lines="none" (click)="modalEvent(event)">
              <ion-label>
                <h2 class="event-title">{{ event.title }} &#x200b;</h2>
                <p class="info">
                  {{ event.startTime | formatToStyle2 }}
                  {{ event.startTime | formatToStyle3 }} -
                  <ion-icon
                    class="delete"
                    name="arrow-back-circle-outline"
                  ></ion-icon>
                </p>
                <p class="info">
                  {{ event.endTime | formatToStyle2 }}
                  {{ event.endTime | formatToStyle3 }}
                </p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option
                class="slidingItemOption"
                expandable
                slot="bottom"
              >
                <ion-label expandable class="buttonSlide"
                  >Delete<ion-icon name="trash"></ion-icon>
                </ion-label>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ng-container>
      <!--     <button ion-button (click) = "getEvent()">getEvent</button> -->
      <!--     <button ion-button (click) = "clearEvent()">clearEvent</button> -->
    </ion-col>
  </ion-row>
</ion-grid>
