.to-scroll {
  // height: 27vh;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  font-weight: bold;
  // height: 450px;
  // ::-webkit-scrollbar {
  //   display: none;
  // }
}
.delete {
  color: #f04141;
  font-weight: bold;
  margin-left: 38%;
  font-size: medium;
  // background-color: var(--ion-background-color);
}
.buttonSlide {
  width: 400px;
  text-align: center;
  padding-left: 100px;
}
.slidingItemOption {
  background-color: #f04141;
  color: black;
  font-weight: bold;
}
.paydayBullet {
  height: 5px;
  width: 5px;
  // background-color: var(--ion-text-color);
  border-radius: 30px;
  position: absolute;
  top: 44%;
  left: 8%;
}
.payday {
  background-color: #000000;
}
.holidayBullet {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 30px;
  position: absolute;
  top: 44%;
  left: 8%;
}
.eventBullet {
  height: 5px;
  width: 5px;
  background-color: #1aa8cc;
  border-radius: 30px;
  position: absolute;
  top: 44%;
  left: 5%;
}
.event-title {
  background-image: linear-gradient(to bottom right, #9bc3ca, #215fbf);
  text-align: center;
  color: white;
}
.holiday-title {
  background-image: linear-gradient(to bottom right, #9bc3ca, #ff0000);
  text-align: center;
  color: white;
}
.payday-title {
  background-image: linear-gradient(to bottom right, #9bc3ca, #000000);
  text-align: center;
  color: white;
}
// .info {
//   color: #000000;
// }
// body.dark app-segment {
//   .info {
//     color: #a6a6a6;
//   }
// }
// @media screen and (min-height: 600px) {
//   .to-scroll {
//     height: 38vh;
//   }
// }
// @media screen and (min-height: 600px) and (max-height: 667px) {
//   .to-scroll {
//     height: 32vh;
//   }
// }
