/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.no-scroll {
  --overflow: hidden;
  height: 100%;
}
ion-toggle {
  --background: #6b9cc6;
  --background-checked: #6b9cc6;
  --handle-background: #000;
  --handle-background-checked: #fff;
}
.my-custom-modalCtrl-css {
  --height: 260px;
  --width: 300px;
  --box-shadow: 1px;
}
.my-custom-purchase-css {
  --height: 350px;
  --width: 300px;
}
.my-custom-date-selector-css {
  --height: 305px;
  --width: 300px;
}
.my-custom-select-css .popover-content {
  --height: 280px;
  --width: 300px;
  justify-content: center;
  align-items: center;
}
.my-custom-popover-css .popover-content {
  height: 40%;
  width: 75%;
  top: 20%;
  position: absolute;
  display: block;
}
ion-title {
  text-align: center;
}
ion-card {
  text-align: center;
  height: 60%;
  font-weight: bold;
}

// ion-grid {
//   height: 100%;
// }
// ion-row {
//   height: 80%;
//   width: 100%;
// }
.segmentContainer {
  // height: 10%;
  flex-flow: wrap-reverse;
  // padding-top: 10%;
  align-content: center;
}
.calendarRow {
  height: 323px;
  z-index: 2;
  position: relative;
  background-color: #ffffff;
}
.segmentRow {
  position: absolute;
  bottom: 0vh;
  width: 100%;
  background-color: #ffffff;
}
.to-scroll {
  height: var(--segment-height);
  background-color: #ffffff;
}
.sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s > .segment-button-checked,
.sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s
  > .segment-button-checked.activated {
  --indicator-color-checked: var(--ion-color-base);
  color: var(--ion-color-base);
  background: #ffffff;
}
// .title {
//   color: #ffffff
//   text-shadow: var(--ion-text-shadow);
// }
.delete {
  background-color: #ffffff;
}
.paydayBullet {
  background-color: #000000;
}
.label,
.nav-title-text,
.sc-ion-label-md-s > p {
  color: #000000;
}
.last-month,
.next-month {
  color: #000000;
}
.event-bullet-payday {
  background-color: #000000;
}
[col-1] {
  border: solid 1px #000000;
}
.district::part(native) {
  background-color: var(--ion-toolbar-background);
}
.day-of,
.day-month,
.otherDate {
  text-shadow: 0.5px 0.5px 0px#000, -0.5px 0.5px 0px#000, 0.5px -0.5px 0px#000,
    -0.5px -0.5px 0px#000, 0px 0.5px 0px#000, 0px -0.5px 0px#000,
    -0.5px 0px 0px#000, 0.5px 0px 0px#000, 1px 1px 0px#000, -1px 1px 0px#000,
    1px -1px 0px#000, -1px -1px 0px#000, 0px 1px 0px#000, 0px -1px 0px#000,
    -1px 0px 0px#000, 1px 0px 0px#000, 0.5px 1px 0px#000, -0.5px 1px 0px#000,
    0.5px -1px 0px#000, -0.5px -1px 0px#000, 1px 0.5px 0px#000,
    -1px 0.5px 0px#000, 1px -0.5px 0px#000, -1px -0.5px 0px#000;
}
.sc-ion-label-md-s > p,
.sc-ion-label-ios-s > p,
.info {
  color: #000000;
}
.currentDateBorder {
  border: 3px solid;
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
}
.text-shadow-black {
  text-shadow: 0.5px 0.5px 0px #222222, -0.5px 0.5px 0px #222222,
    0.5px -0.5px 0px #222222, -0.5px -0.5px 0px #222222, 0px 0.5px 0px #222222,
    0px -0.5px 0px #222222, -0.5px 0px 0px #222222, 0.5px 0px 0px #222222,
    1px 1px 0px #222222, -1px 1px 0px #222222, 1px -1px 0px #222222,
    -1px -1px 0px #222222, 0px 1px 0px #222222, 0px -1px 0px #222222,
    -1px 0px 0px #222222, 1px 0px 0px #222222, 0.5px 1px 0px #222222,
    -0.5px 1px 0px #222222, 0.5px -1px 0px #222222, -0.5px -1px 0px #222222,
    1px 0.5px 0px #222222, -1px 0.5px 0px #222222, 1px -0.5px 0px #222222,
    -1px -0.5px 0px #222222;
}
.drop-down-menu:active {
  border: 1px solid white;
  transform: scale(0.5, 0.5);
}
.calendar-weekday {
  color: #000000;
}
.dark {
  .calendar-weekday {
    color: white;
  }
  .drop-down-menu:active {
    border: 1px solid black;
  }
  .border-shadow {
    border: solid 3px #595959;
    border-radius: 50%;
    width: 40px;
    display: flex;
    justify-content: center;
    // box-shadow: 0px 0px 0px 3px #595959;
  }
  .day-of,
  .day-month,
  .otherDate {
    text-shadow: none;
  }
  .sc-ion-label-md-s > p,
  .sc-ion-label-ios-s > p,
  .info {
    color: #a6a6a6;
  }
  .ios {
    .sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s
      > .segment-button-checked,
    .sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s
      > .segment-button-checked.activated {
      --indicator-color-checked: var(--ion-color-base);
      // color: var(--ion-color-base);
      background: #000000;
    }
  }
  .md {
    .sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s
      > .segment-button-checked,
    .sc-ion-segment-ios-h.ion-color.sc-ion-segment-ios-s
      > .segment-button-checked.activated {
      --indicator-color-checked: var(--ion-color-base);
      // color: var(--ion-color-base);
      background: #121212;
    }
  }
  .ios .calendarRow,
  .ios .segmentRow,
  .ios .to-scroll {
    background-color: #000000;
  }
  .md .calendarRow,
  .md .segmentRow,
  .md .to-scroll {
    background-color: #121212;
  }
  .ios .delete {
    background-color: #000000;
  }
  .md .delete {
    background-color: #121212;
  }
  .paydayBullet {
    background-color: #ffffff;
  }
  .ios .label,
  .ios .nav-title-text {
    color: #000000;
  }
  .md .label,
  .md .nav-title-text {
    color: #121212;
  }
  .last-month,
  .next-month {
    color: #1e2023;
  }
  .event-bullet-payday {
    background-color: #ffffff;
  }
  [col-1] {
    border: solid 1px #86888f;
  }
  .district::part(native) {
    background-color: var(--ion-toolbar-background);
  }
}
