<ion-header>
  <ion-toolbar>
    <ion-title> RJ's Postal Calendar </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="gotoWelcome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="addEvent()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="no-scroll">
  <ion-row class="calendarRow">
    <ion-col>
      <app-calendar></app-calendar>
    </ion-col>
  </ion-row>
  <ion-row class="segmentRow">
    <!-- <div> -->
    <ion-col>
      <app-segment></app-segment>
    </ion-col>
    <!-- </div> -->
  </ion-row>
</ion-content>
